<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for WebView -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ScholarApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoogleScholar"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GoogleScholar"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep linking for Google Scholar URLs -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="scholar.google.com" />
            </intent-filter>
        </activity>

        <!-- Profile Edit Activity - WebView for editing Google Scholar profile -->
        <activity
            android:name=".ui.profile.ProfileEditActivity"
            android:exported="false"
            android:label="@string/edit_profile"
            android:theme="@style/Theme.GoogleScholar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <!-- Article View Activity - WebView for viewing articles in-app -->
        <activity
            android:name=".ui.article.ArticleViewActivity"
            android:exported="false"
            android:theme="@style/Theme.GoogleScholar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <!-- Profile View Activity - View any author's profile (read-only) -->
        <activity
            android:name=".ui.profile.ProfileViewActivity"
            android:exported="false"
            android:theme="@style/Theme.GoogleScholar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <!-- Author Search Activity - Search results for authors by interest -->
        <activity
            android:name=".ui.profile.AuthorSearchActivity"
            android:exported="false"
            android:theme="@style/Theme.GoogleScholar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

    </application>

</manifest>
